@model VideoManager.Models.ViewModels.AddCRMContactViewModel

    @{
        ViewBag.Title = "Add Owner";
        Layout = "~/Views/Shared/_LayoutCRM.cshtml";
    }

    <h2>First Contact for @Model.FirstName @Model.LastName</h2>



    <section class="panel">
        <header class="panel-heading">
            The very first time you made contact with @Model.FirstName
        </header>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.CRMFuneralHomeId);
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.FirstContactedDate)</label>
                            <div class="iconic-input">
                                <i class="fa fa-calendar"></i>
                                @Html.EditorFor(model => model.FirstContactedDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstContactedDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.FirstContactedByUserName)</label>
                            <div class="iconic-input">
                                @Html.DropDownListFor(model => model.FirstContactedByUserName, (IEnumerable<SelectListItem>)ViewBag.UserList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstContactedByUserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.FirstContactNotes)</label>
                            <div class="iconic-input">
                                @Html.TextAreaFor(model => model.FirstContactNotes, new { @class = "form-control", rows = "5" })
                                @Html.ValidationMessageFor(model => model.FirstContactNotes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
              

                <button type="submit" class="btn btn-default right">Create</button>
            }

        </div>
    </section>

    <div>
        @Html.ActionLink("Back to profile", "profilehighlight", new { id = @Model.CRMFuneralHomeId })
    </div>