@model List<VideoManager.Models.Data.CRMFuneralHomeHistory>
@{
    ViewBag.Title = "User Log";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";

}
<style>
        .existingstarrr {
        margin-top: -14px;
    }
    .count3
    {
        font-size: 22px;
    }
    .green{
        background-color: #5cb85c;
    }

        .existingstarrr i {
            color: #39b2a9;
            font-size: 14px;
            padding-left: 2px;
        }
</style>
@if (Model != null && Model.Count() > 0)
{
    foreach (var comment in Model)
    {
        List<VideoManager.Models.ApplicationUser> adminUsers = ViewBag.AdminComments;
        VideoManager.Models.ApplicationUser commentUsers = adminUsers.Where(a => a.UserName == comment.LastContactedByUserName).FirstOrDefault();
        <section class="panel">
            <div class="panel-body">
                <div class="fb-user-thumb">
                    <img src="https://graph.facebook.com/@commentUsers.FacebookId/picture?type=normal" />
                </div>
                <div class="fb-user-details">
                    <h3>@commentUsers.FirstName @commentUsers.LastName<i class="fa fa-arrow-right" aria-hidden="true"></i>  <a href="@Url.Action("FuneralHomeHighlight", new { id = comment.CRMFuneralHomeId })" class="#">@comment.CRMFuneralHome.Name</a></h3>
                    <p>@comment.LastContactedDate Via:@comment.ContactType</p>
                    @if (comment.PostRating != 0)
                    {
                        <div class="starrr existingstarrr" data-rating='@comment.PostRating'></div>
                    }
                </div>
                <div class="clearfix"></div>
                <p class="fb-user-status">
                    @comment.LastContactNotes
                </p>
        

            </div>
        </section>
    }
}
@section scripts
    {
    <script src="~/Content/crm/assets/starr/starrplugin.js"></script>
    }