@model VideoManager.Models.Data.Service
@{
    <style>
        body{
            background-color: white;
        }
    </style>
    ViewBag.Title = "iframe";
    Layout = "~/Views/Shared/_LayoutNoStyle.cshtml";

        string pdfPath = System.Configuration.ConfigurationManager.AppSettings["portalpath"] + "/PDFs/DisplayPdf/" + Model.PDF.ServiceId;
        string imgPath = System.Configuration.ConfigurationManager.AppSettings["portalpath"] + "/PDFs/displaythumbnail/" + Model.Id;
        string altText = Model.FirstName + " " + Model.LastName + " Memorial Folder";
    }
@if (Model.FuneralHome.Setting.WebsiteProvider == VideoManager.Models.Data.Enums.WebsiteProvider.DJ)
{
    <a href="@pdfPath" target="_blank"><img style="border:2px outset silver; width: 93px;  margin-top:-71px;" src="@imgPath" alt="@altText"><br />@Model.PDF.TitleText</a>
}
else
{
    <a href="@pdfPath" target="_blank"><img style="border:2px outset silver; width: 88px; margin-left:137px; margin-top:-71px;" src="@imgPath" alt="@altText"><br />@Model.PDF.TitleText</a>
}
    


