@model VideoManager.Models.Data.Service
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool _conversionFinsihed = false;
    if (Model.Video != null && Model.Video.Status == VideoManager.Models.Data.VideoStatus.ConversionFinished)
    {
        _conversionFinsihed = true;
    }
    <style>

        .viewing-video-container {
            position: relative;
        }
    </style>
    string _thumbnailPath = System.Configuration.ConfigurationManager.AppSettings["videoCDN"] + "/video-thumbnails/" + Model.Video.ImagePath;
    string _videoPath = System.Configuration.ConfigurationManager.AppSettings["videoCDN"] + "/videos/" + Model.Video.ConvertedFilePath;
    string _portalPath = System.Configuration.ConfigurationManager.AppSettings["portalPath"];
    string _pagePath = _portalPath + "/services/view/" + Model.Id;
    string videoTitle = (Model.VideoTitle != null ? Model.VideoTitle : Model.FirstName + " " + Model.LastName + "'s Service");
}
@section Styles
{
    @if (_conversionFinsihed)
    {
        <meta property="fb:app_id" content="888507064518588">
        <meta property="og:url" content="@_pagePath">
        <meta property="og:title" content="@Model.VideoTitle">
        <meta property="og:description" content="@Model.Obituary">
        <meta property="og:type" content="video">
        <meta property="og:image" content="@_thumbnailPath">
        <meta property="og:video" content="@_videoPath">
        <meta property="og:video:type" content="video/mp4">
        <meta property="og:video:height" content="720" />
        <meta property="og:video:width" content="1280" />
        <meta property="og:site_name" content="Midwest Streams">
    }

}
@if (_conversionFinsihed)
{
    @Scripts.Render("~/bundles/jquery")
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/videojs/videojs.logobrand.css">
    <link rel="stylesheet" type="text/css" href="~/content/videojs/videoglobal.css" />
}
<div class="row">
    @{
        string colOffset = "2";
        if (User.IsInRole("Viewing"))
        {
            colOffset = "4";
        }
    }
    <div class="col-lg-10 col-lg-offset-@colOffset viewing-video-container">
        <!--The following code is the video player HTML. It's only displayed if the video is avaiable-->
        @if (_conversionFinsihed)
        {

            <div align="center" class="embed-responsive embed-responsive-16by9">
                <video id="myvideo" class="video-js vjs-default-skin embed-responsive-item" controls
                       preload="auto" poster="@_thumbnailPath"
                       data-setup="{}">
                    <source src="@_videoPath" type='video/mp4'>
                </video>
            </div>
            <input type="hidden" id="videoTitle" value="@videoTitle" />
        }
        else
        {

            <h1>The servers are still processing this service</h1>
        }
        <script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>
        <script type="text/javascript" src="~/Scripts/videojs/videojs-overlay.js"></script>
        <script src="~/Scripts/videojs/videojs.logobrand.v5.js"></script>

        <script type="text/javascript">
    var portalPath = "@(System.Configuration.ConfigurationManager.AppSettings["portalPath"])";
    var playCount = 0;
    var analyticId = 0;
    var duration = 0;
    var html5_video_started = false;
    var title = $('#videoTitle').val();

    var options = {
        title: title,
        floatPosition: 'left',
        margin: '15px',
        fontSize: '15px',
        debug: true
    }

    $(function () {

        $('#myvideo_vjs1').on('contextmenu', function(e) { e.preventDefault(); } );
        var html5Player = videojs('myvideo');



        html5Player.ready(function () {

            html5Player.titleoverlay(options);

            html5Player.logobrand({
                image:portalPath + "/Content/videoplayer/minimal_skin_white/FullLogo_White.png",
                destination: "http://www.midweststreams.com",
                autoHide: false,
                width: '100px',
                opacity: 0.7,
                position: 'absolute',
                top: '90%',
                right: '30px'
            });

            html5Player.on('play', function() {
                if(!html5_video_started) {
                    html5_video_started = true;
                    trackView();
                }
                $('.vjs-big-play-button').hide();
            });


            html5Player.on('ended', function() {
                duration = this.duration();
                trackPause(duration, duration, true);
            });

            html5Player.on('pause', function () {
                var stopTime = TimeStringToSeconds(this.currentTime());
                var duration = TimeStringToSeconds(this.duration());
                trackPause(stopTime, duration, false);
                $('.vjs-big-play-button').show();
            });

        });

    });

    function TimeStringToSeconds(timeString) {

        var a = timeString.toString().split(':');
        var colonNumber = (timeString.toString().match(/:/g) || []).length;
        if (colonNumber == 1) {
            var seconds = (+a[0]) * 60 + (+a[1]);
        } else {
            if (colonNumber == 2) {
                var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);
            }
        }
        return seconds;
    }

    function trackView() {

        var serviceId = @Model.Id;
        var postData = {
            id: serviceId
        };
        var postUrl = "/Services/TrackVideoViews";
        var posting = $.ajax({
            url: postUrl,
            type: "POST",
            dataType: "json",
            traditional: true,
            data: postData
        });
        posting.done(function(data) {
            analyticId = data.Id;
        });
        playCount = playCount + 1;

    }

    function trackPause(stopTime, duration, completed) {
        //If analyticId is 0 something went wrong
        if (analyticId != 0) {

            var postData = {
                id: analyticId,
                stopTime: stopTime,
                duration: duration,
                completed: completed
            };
            var postUrl = "/Services/UpdateAnalytics";
            var posting = $.ajax({
                url: postUrl,
                type: "POST",
                dataType: "json",
                traditional: true,
                data: postData
            });
        }
    }

    function resize_video() {
        var height = $(window).height();
        var width = $(window).width();

        var html5Player = videojs('myvideo');
        html5Player.dimensions(width, height);
    }

    resize_video();

    setTimeout(resize_video, 500);
    $(window).resize(resize_video);




        </script>
    </div>
</div>