@*@model IEnumerable<VideoManager.Models.Data.Analytic>*@
@model VideoManager.Models.ViewModels.AnalyticDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}


<section id="main-content">
    <section class="wrapper">
        <!--state overview start-->
        <div class="row state-overview">
            <div class="col-lg-6 col-sm-6">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="fa fa-video-camera"></i>
                    </div>
                    <div class="value">
                        <h1 class="count">
                           @string.Format("{0:n0}", Model.MonthlyFuneralsWithVideos)
                        </h1>
                        <p>Services this month</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-sm-6">
                <section class="panel">
                    <div class="symbol red">
                        <i class="fa fa-video-camera"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count2">
                            @string.Format("{0:n0}", Model.TotalFuneralsWithVideos)
                        </h1>
                        <p>Total Services</p>
                    </div>
                </section>
            </div>
            @*<div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol yellow">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count3">
                            @string.Format("{0:n0}", Model.MonthViews * 1.5)
                        </h1>
                        <p>Views this month</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol blue">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count4">
                            @string.Format("{0:n0}", Model.TotalVideoViews * 1.5)
                        </h1>
                        <p>Total views</p>
                    </div>
                </section>
            </div>*@
        </div>

        <!--state overview end-->

        <div class="row">
            <div class="col-lg-8">
                <!--custom chart start-->
                <div class="border-head">
                    <h3>View Graph</h3>
                </div>
                <div class="custom-bar-chart">
                    @if(Model.DailySeries=="No Data")
                    {
                    <h2>No Analytics Available</h2>
                    }
                    else
                    {
                    <select id="data-selection-for-line">
                        <option value="months">Month</option>
                        <option value="year">Year</option>
                        <option value="days">Day</option>
                    </select>
                    <div id="wijlinechart" style="width: 900px; height: 300px">
                    </div>
                    }
                    <!--custom chart end-->
                </div>
            </div>
            <div class="col-lg-4">
                <!--new earning start-->
                <div class="panel terques-chart">
                    <div class="panel-body chart-texture">
                        <div class="chart">
                            <div class="heading">
                                <span>Kyle Fogarty</span>
                                <strong>$57.00 | December 12th</strong>
                            </div>
                            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
                        </div>
                    </div>
                    <div class="chart-tittle">
                        <span class="title">Short Printer</span>
                        <span class="value">
                            <a href="#" class="active">Coming Soon!</a>
                            |
                            <a href="#">Once Gate City Gets us hooked up</a>
                            |
                            <a href="#">Online</a>
                        </span>
                    </div>
                </div>
                <!--new earning end-->
                <!--total earning start-->
                <div class="panel green-chart">
                    <div class="panel-body">
                        <div class="chart">
                            <div class="heading">
                                <span>Shane White</span>
                                <strong>$1,200 | Online BlackJack</strong>
                            </div>
                        </div>
                    </div>
                    <div class="chart-tittle">
                        <span class="title">Account Balance</span>
                        <span class="value">$5,678</span>
                    </div>
                </div>
                <!--total earning end-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <!--user info table start-->
                <section class="panel">
                    <div class="panel-body">
                        <div class="task-thumb-details">
                            <h1><a href="#">Low Usage Homes</a></h1>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                            @foreach (var home in Model.LowUsageHomes)
                            {
                            VideoManager.Models.Data.Service Service = home.Services.OrderByDescending(f=>f.CreateDate).FirstOrDefault();
                            string cssClass = "warning";
                            if(Service.CreateDate < DateTime.Now.AddDays(-60))
                            {
                            cssClass = "danger";
                            }
                            <tr>
                                <td class="@cssClass">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </td>
                                <td>@home.Name</td>
                                <td>Last Service: @Service.ServiceDate.ToShortDateString()</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </section>
                <!--user info table end-->
            </div>
            <div class="col-lg-8">
                <div class="border-head">
                    <h3>Services Graph</h3>
                </div>
                    <div class="main demo">
                        <!-- Begin demo markup -->
                        <div id="wijbarchart" class="ui-widget">
                        </div>
                        <!-- End demo markup -->
                        <div class="demo-options">
                            <!-- Begin options markup -->
                            <!-- End options markup -->
                        </div>
                    </div>
            </div>
        </div>
  

    </section>
</section>

@section Scripts
{
<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20151.69.min.css" rel="stylesheet" type="text/css" />
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.css" rel="stylesheet" type="text/css" />
<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20151.69.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20151.69.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/interop/wijmo.data.ajax.3.20151.69.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/interop/wijmo.data.ajax.3.20152.78.js" type="text/javascript"></script>

<script id="scriptInit" type="text/javascript">
    $(document).ready(function () {
        $("#data-selection-for-line").change(function () {
            var currentSerries = [];
            if (this.value == "year") {
                currentSerries = [@Html.Raw(Model.YearlySeries)];
                title = "Yearly Views";


            }
            if (this.value == "months") {
                currentSerries = [@Html.Raw(Model.MonthlySeries)];
                title = "Monthly Views";
            }
            if (this.value == "days") {
                currentSerries = [@Html.Raw(Model.DailySeries)];
                title = "Daily Views";
            }
            $("#wijlinechart").wijlinechart({
                header: {
                    text: title
                },
                seriesList: currentSerries
            });

            $("#wijlinechart").wijlinechart("redraw", "true");
        });

        //var yArray = [80, 101, 76, 54, 60, 35, 78, 90, 132, 100];
        //xArray =[new Date("7/1/2015"), new Date("7/2/2015"), new Date("7/3/2015"), new Date("7/4/2015"), new Date("7/5/2015"), new Date("7/6/2015"), new Date("7/7/2015"), new Date("7/8/2015"),new Date("7/9/2015"), new Date("7/10/2015")];


        var title = "Monthly Views"
        var monthlySeriesArray = [@Html.Raw(Model.MonthlySeries)];



        $("#wijlinechart").wijlinechart({
            showChartLabels: false,
            //hint: {
            //    content: function () {
            //        return this.y;
            //    }
            //},
            hint: { 
                //Display custom information in tooltip. If not set, the content will default to x and y data display values 
                content: function () { 
                    //Check if multiple data points are on one axis entry. For example, multiple data entries for a single date.  
                    if ($.isArray(this)) { 
                        var content = ""; 
                        //Multiple entries of data on this point, so we need to loop through them to create the tooltip content. 
                        for (var i = 0; i < this.length; i++) { 
                            content += this[i].lineSeries.label + ': ' + Globalize.format(this[i].y, 'n0') + '\n'; 
                        } 
                        return content; 
                    } 
                    else { 
                        //Only a single data point, so we return a formatted version of it. "/n" is a line break. 
                        return this.data.lineSeries.label + '\n' + 
                                //Format x as Short Month and long year (Jan 2010). Then format y value as calculated currency with no decimal ($1,983,000).  
                            Globalize.format(this.x, 'MMM yyyy') + ': ' + Globalize.format(this.y, 'n0'); 
                    } 
                }
            }, 
            header: {
                text: title
            },
            axis: {
                y: { labels: { style: { rotation: -45 } } },
                x: { labels: { style: { rotation: -45 } } }
            },
            seriesList: monthlySeriesArray
        });
        var resizeTimer = null;
        $(window).resize(function () {
            window.clearTimeout(resizeTimer);
            resizeTimer = window.setTimeout(function () {
                var jqLine = $("#wijlinechart"),
            width = jqLine.width(),
            height = jqLine.height();
                if (!width || !height) {
                    window.clearTimeout(resizeTimer);
                    return;
                }
                jqLine.wijlinechart("redraw", width, height);
            }, 250);
        });
    })
</script>

<script id="scriptInit" type="text/javascript">

    var seriesListBar = @Html.Raw(Model.ServicesBarChartArray);
    $("#wijbarchart").wijbarchart({   
        axis: { 
            y: { 
                text: "Services Count"
            }, 
            x: { 
                text: "Month"
            } 
        }, 
        horizontal: false, 
        // legend setup 
        legend: { 
            text: "Funeral Home", // legend header 
            visible: true, // allow legend to diplay 
            compass: "north", // setting legend position relative to the chart 
            orientation: "horizontal" // setting legend element orientation 
        }, 
        header: { 
            text: "Monthly Services"
        }, 
        seriesList: seriesListBar, 
  
        // seting default series styles 
        seriesStyles: [{ 
            opacity: 0.7, fill: "#2d2d2d", stroke: "#2d2d2d", "stroke-width": 1.0 
        }, { 
            opacity: 0.7, fill: "#5f9996", stroke: "#5f9996", "stroke-width": 1.0 
        }, { 
            opacity: 0.7, fill: "#afe500", stroke: "#afe500", "stroke-width": 1.0 
        }, { 
            opacity: 0.7, fill: "#b2c76d", stroke: "#b2c76d", "stroke-width": 1.0 
        }, { 
            opacity: 0.7, fill: "#959595", stroke: "#959595", "stroke-width": 1.0 
        }], 
    }); 


</script>

}
@section Styles
{
<style>
    .custom-bar-chart {
        height: 310px;
    }

        .custom-bar-chart select {
            margin-top: -15px;
        }

    #main-content {
        margin-left: 105px;
    }
</style>
}