@model VideoManager.Models.Data.VideoQueue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VideoQueue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedVM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedVM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
